<!DOCTYPE html>
<html>
<head>
    <title>Password Reminder</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form id="reminderForm">
        <span>Password Reminder</span><br><br><br>
        <label for="login">Login from your account:</label><br>
        <input type="text" id="login" name="login" required>
        <p id="message"></p><br>
        <button type="submit">Send Reminder</button>
    </form>

    <p>Remembered your password? <a href="/login">Login</a></p>

    <script src="/reminder.js"></script>
</body>
</html>